%head
  %title
    D. Leong - About

#title
  Daniel Leong:
%p
  %blockquote
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The majority of my life has been spent in San Diego.
    Growing up in San Diego gave me multiple opportunities to foster my interest in
    technology including building my own computers, volunteering for computer refurbishing work, and being an
    IT intern over summer breaks. My own experiences with technology have now led me to Westmont College where I am currently
    a Freshman majoring in Computer Science. I am currently working on adding programming skills to my more extensive knowledge
    of personal systems and IT systems. Below you will find a brief synopsis of my personal experiences not found on either my
    Resume or Portfolio pages.
%br
%br


#sub_title
  Personal Experience:
%blockquote
  %ul
    %li
      Designed and built a gaming computer from individual components. Saved 50% over the cost of a comparable brand name model.
    %li
      Ran Microsoft Virtual PC 2007 on my computer to beta test Windows 7.
    %li
      Run Ubuntu Linux on my laptop inside a VMWorkstation.