%head
  %title
    D. Leong - Contact

#sub_title
  Daniel Leong
%blockquote
  %br
  Mail Stop 1957,
  %br
  955 La Paz Rd
  %br
  Santa Barbara, CA
  %br
  93108
  %br
  %br
  %b
    Phone:
  619-871-5041
  %br
  #email
    Email:
    %a{:href => "mailto:dtleong@hotmail.com"}
      dtleong@hotmail.com
