%h3.page-title Hello my name is Daniel Leong

.row
  .five.columns.first
    = image_tag "razerlogo.jpg", :height => '300', :width => 500


  .three.columns
    %h3 about me
    %p
      I'm a student at Westmont! yay!
      = link_to "<span>See my work &raquo;</span>", "/work", :class => "large blue button"