%head
  %title
    D. Leong - Home
%br
%p
  Welcome! You have reached the portfolio of Daniel Leong, Computer Science major at Westmont College in Santa Barbara, CA. Here you will find my complete resume with the sum of my work experience and education. In addition, my portfolio contains samples of my programming work and a list of classes I have taken while at Westmont.
  %br
  %br
  Below are the operating systems and software I am familiar with, along with a list of services I provide.
  %br
  %br
  If you have any questions for me, or would like to discuss employment opportunities, please feel free to contact me&nbsp
  %a{:href => "/contact"}><
    here
  \.
