%head
  %title
    D. Leong - Home
%p
  Welcome! You have reached the portfolio of Daniel Leong, Computer Science major at Westmont College in Santa Barbara, CA. Here you will find my complete resume with the sum of my work experience and education. In addition, my portfolio contains samples of my programming work and a list of classes I have taken while at Westmont.
  %br
  %br
  Below are the operating systems and software I am familiar with, along with a list of services I provide.
  %br
  %br
  If you have any questions for me, or would like to discuss employment opportunities, please feel free to contact me&nbsp
  %a{:href => "/contact"}><
    here
  \.

%br
%br
%br
#sub_title
  Technical Summary:
%br
.row
  .three.columns
    %b
      Operating Systems:
    %blockquote
      %ul
        %li
          Windows XP
        %li
          Windows Vista
        %li
          Windows 7
        %li
          Windows Server 2000
        %li
          Windows Server 2003
        %li
          Mac OS X
        %li
          Solaris 10
        %li
          Ubuntu
  .three.columns
    %b
      Tools:
    %blockquote
      %ul
        %li
          Norton Ghost
        %li
          GhostCast Server 11.5
        %li
          VM Workstation
        %li
          DBAN
        %li
          Microsoft Sharepoint 12
  .three.columns
    %b
      Other Software:
    %blockquote
      %ul
        %li
          Microsoft Office
          %br
          2003/2007
        %li
          Dr. Scheme
        %li
          Jet Brains RubyMine
        %li
          Notepad++
%br
.row
  .three.columns
    %b
      Program Languages:
    %blockquote
      %ul
        %li
          Ruby, 3 months
        %li
          PLT Scheme, 6 months
        %li
          HTML, 2 years
        %li
          CSS/Sass
        %li
          Haml
%br
%br
#sub_title
  Services Provided:
%br
.row
  .three.columns
    %b
      Personal Computing:
    %blockquote
      %ul
        %li
          Basic Virus Removal
        %li
          Custom Built Desktops
        %li
          Desktop Repair
        %li
          Hardware and Software Troubleshooting
        %li
          Home Network Setup: Wired and Wireless
        %li
          Personalized Part Lists
        %li
          Printer Installation
  .three.columns
    %b
      Corporate IT:
    %blockquote
      %ul
        %li
          Hardware and Software Troubleshooting
        %li
          Ghosting and Virtualization
        %li
          Microsoft Server Setup
        %li
          Microsoft Sharepoint Implementation
        %li
          Network Setup and Troubleshooting

