%head
  %title
    D. Leong - Resume
%b
  %font{:size => 5}
    %u><
      Education
    \:
%blockquote
  Bachelor of
  %a{:href => "http://www.westmont.edu/_academics/departments/computer_science/curriculum.html"}Computer Science
  %br
  %a{:href => "http://westmont.edu/"}><
    Westmont College
  , Santa Barbara
  %br
  &nbsp;&nbsp;&nbsp;Expected Graduation: 2013
  %br
  %br

  &nbsp - The classes I have taken at Westmont, along with program examples can be found on my&nbsp
  %a(href="/portfolio")><
    portfolio page
  \.
  %br
  %br

  %b
    %font{:size => 3}
      %a(href="http://www.bluestarlearning.com/")
        Blue Star Learning
  %blockquote
    %ul
      %li
        %a(href="http://www.bluestarlearning.com/database_training_dmd.aspx")
          Databate Design
        , July 2008
      %li
        %a(href="http://www.bluestarlearning.com/sql_training_mssql.aspx")
          ANSI-SQL
        , July 2008
      %li
        %a(href="http://www.bluestarlearning.com/unix_training_un2.aspx")
          Unix Administration
        , August 2009

    %br
    %br

%b
  %font{:size => 5}
    %u><
      Employment
    \:

%blockquote
  %b
    %u
      Teacher's Assistant
    \.
  %b
  Westmont College, October 2009 - Present
  %blockquote
    %ul
      %li
        Classroom assistant and grader for
        %a(href="http://homepage.westmont.edu/kimkihls/cs50.html")
          Computer Science 5
        (Fundamentals of Computing) and philosophical principles of knowledge.
      %li
        Weekly study group leader
        %a(href="http://homepage.westmont.edu/kimkihls/cs50.html")
          Computer Science 50
        (Morality, Information, Logic and Knowledge) focusing on Computer ethics, and philosophical principles of knowledge
  #email
    %i
      &nbsp;&nbsp;&nbsp;Kim Kihlstrom,
    Associate Professor of Computer Science, can be reached for a work reference at:
    %a(href="mailto:kimkihls@westmont.edu")
      kimkihls@westmont.edu

  %br
  %br
  %br

  %b
    %u
      Temporary IT Manager
    \.
  %b
  Blue Star Learning, During August 2008
  %blockquote
    %ul
      %li
        Acting System Administrator for 5 servers and 60 desktop PC's.
      %li
        Created images using Norton Ghost for classroom use.
      %li
        Used GhostCast to image several classrooms with 10 or more computers each for technical education.
      %li
        Ran weekly server backups.
      %li
        Performed troubleshooting of corrupted images, faulty motherboards, defective RAM, dead hard drives, and network connectivity issues.
      %li
        Coordinated with instructors for classroom set up and computer image preparation.
  %br
  &nbsp;&nbsp;&nbsp;*Summer Intern for Blue Star Learning from 2005-2007 working with imaging and desktop PC hardware maintenance.
  %br
  #email
    %i
      &nbsp;&nbsp;&nbsp;Susan Blue,
    Chief Financial Officer can be reached for a work reference at:
    %a(href="mailto:training@bluestarlearning.com")<
      training@bluestarlearning.com
    and at (858) 622-1201.
%br
%br


%b
  %font{:size => 5}
    %u><
      Additional Experience
    \:
%blockquote
  %b
    %u
      Volunteer Computer Refurbisher
    \.
  %a(href="http://www.computers2sdkids.org/")
    Computers 2 San Diego Kids
  , August 2008-July 2009.
  %blockquote
    %ul
      %li
        Inspected new computer donations to determine if the hardware is reusable.
      %li
        Replaced hard drives, RAM, optical drives, and power supplies if necessary.
      %li
        Ran DBAN to effectively erase any personal information remaining on the hard drives of computers that were refurbished.
      %li
        Used Norton Ghost and scripts to load Windows XP, Microsoft Office 2003, and accompanying drivers onto refurbished desktop PC's.
      %li
        Troubleshot hardware and driver issues primarily, especially RAM, hard drives and video drivers.
    %br
  #email
    %i
      &nbsp;&nbsp;&nbsp;Cheri Pierre,
    Manager, can be reached for a work reference at:
    %a(href="mailto:info@computers2sdkids.org")
      info@computers2sdkids.org
    and at (858)-635-5774.