<div class="comment">
   <i><%=h comment.name %> says:</i><br />
   <%= simple_format h(comment.body) %>
   <%= link_to '<span>Destroy Comment</span>', comment, :class => "micro red button",
     :confirm => 'Are you sure?',
     :method => :delete%>
 </div>
<hr align="left" width="300px" background-color="#0070c3" color="#0070c3"/>
<br/>