!!!
%html
  %head
    %meta{:http-equiv=> "content-type", :content=> "text/html;charset=UTF-8"}
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'compiled/global.css'
  %title
    Posts:
    = link_to controller.action_name
  %body
    %p(style="color: green"><%= flash[:notice] %>)
    = yield
      

